[Unit]
Description=mu Web UI
After=network.target nginx.service

[Service]
Type=simple
User=root
Group=http
WorkingDirectory=/root/mu
RuntimeDirectory=mu-web
RuntimeDirectoryMode=2770
ExecStart=/usr/bin/node /root/mu/web/server.ts /run/mu-web/mu-web.sock
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
